* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  background-color: #319db0;
}

@mixin button {
  display: block;
  background-color: #319db0;
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid #bc32554d;
  color: #f4cbcc;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    border: 1px solid rgb(19, 3, 7);
    box-shadow: 0 10px 20px #00000033;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #00000033;
  }
}
